branca==0.8.1
dash==3.0.4
deepl==1.22.0
python-dotenv==1.1.1
flask==3.0.3
folium==0.20.0
matplotlib==3.10.3
numpy==2.3.1
pandas==2.3.0
plotly==6.1.2
prettytable==3.16.0
psutil==7.0.0
requests==2.32.4
seaborn==0.13.2
textblob==0.19.0
tqdm==4.67.1
unidecode==1.4.0
wordcloud==1.9.4
xlrd
openpyxl
