branca==0.8.2
dash==3.2.0
deepl==1.23.0
Flask==3.1.2
folium==0.20.0
fpdf==1.7.2
kaleido==0.2.1
numpy==2.3.3
plotly==6.3.1
prettytable==3.16.0
psutil==7.0.0
textblob==0.19.0
tqdm==4.67.1
Unidecode==1.4.0
wordcloud==1.9.4