/* Main Stylesheet File */

/* 
Resoluciones:

    360 × 640
    375 × 667
    414 × 896
    768 × 1024
    1024 × 768
    1280 × 800
    1366 × 768
    1440 × 900
    1920 × 1080
    2560 × 1440
    3840 × 2160
*/

/* IMPORTS  */
@import url('utils.css');
@import url('index.css');
@import url('mi_cv.css');
@import url('seasonality.css');
@import url('world_bank.css');

/* RESPONSIVE */
@media (min-width: 1600px) {
    .main-project-container {
        margin-right: 5%;
    }
}

@media (max-width: 1600px) {
    .projects-type-container {
        flex-direction: column !important;
    }

    .project-type-container {
        margin-bottom: 1% !important;
    }
}