/* Main Stylesheet File */

/* IMPORTS  */
@import url('utils.css');
@import url('index.css');
@import url('mi_cv.css');
@import url('seasonality.css');
@import url('world_bank.css');

/* RESPONSIVE */
@media (min-width: 1600px) {
    .main-project-container {
        margin-right: 5%;
    }
}

@media (max-width: 1600px) {
    .projects-type-container {
        flex-direction: column !important;
    }

    .project-type-container {
        margin-bottom: 1% !important;
    }
}