/* My CV Stylesheet File */

/* MAIN CONTAINER */
.mi-cv {
    width: 75%;
    margin-left: 25%;

    h1 {
        margin: 2.5% 0 0 0;
        padding: 0 0 0.5% 2%;
        font-family: 'Roboto', sans-serif;
        border-bottom: clamp(2px, 0.1vw, 0.1vw) solid white;
        font-size: clamp(15px, 2vw, 2vw);
        color: white;
    }
}

/* WORK EXPERIENCE */
.job {
    width: 99%;
    margin: 0% 0.5% 0% 0.5%;
    padding: 0 0 0.01% 0.5%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    color: white;

    h3 {
        color: #3498db;
        padding-top: 1%;
        margin-bottom: 2.5%;
        font-size: clamp(15px, 1.5vw, 1.5vw);
    }

    h4 {
        color: #95a5a6;
        padding: 0;
        margin: 0;
        margin-top: 2.5%;
        font-size: clamp(12.5px, 1.25vw, 1.25vw);
    }

    li {
        font-size: clamp(12.5px, 1vw, 1vw);
        padding: 0.5% 0 0 0;
        margin: 0 0 0.5% 1%;
    }

    #tech_backend,
    #tech_AI,
    #tech_ing,
    #tech_ing,
    #tech_viz,
    #tech_misc {
        text-align: center;
    }
}

/* TECHNOLOGIES */
.skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(0px, 20px, 20px);
    padding: 1%;
}

.skill-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
}

.skill-name {
    font-size: clamp(12.5px, 1.25vw, 1.25vw);
}

.progress-bar-container {
    display: flex;
    height: 5vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.2);
    border: 2.5px solid #FFFFFF;
    position: relative;
}

.progress-bar {
    height: 100%;
    transition: width 1s ease-in-out;
    position: relative;
}

.progress-bar::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: clamp(10px, 1.25vw, 1.25vw);
    white-space: nowrap;
    font-weight: bold;
}

.basic {
    width: 25%;
    background-color: rgba(231, 76, 60, 1);
}

.basic::after {
    content: "Basic";
    left: 200%;
    transform: translateX(-50%) translateY(-50%);
}

.intermediate {
    width: 50%;
    background-color: rgba(230, 126, 34, 1);
}

.intermediate::after {
    content: "Intermediate";
    left: 100%;
    transform: translateX(-50%) translateY(-50%);
}

.advanced {
    width: 75%;
    background-color: rgba(52, 152, 219, 1);
}

.advanced::after {
    content: "Advanced";
    left: 66.67%;
    transform: translateX(-50%) translateY(-50%);
}

.expert {
    width: 100%;
    background-color: rgba(39, 174, 96, 1);
}

.expert::after {
    content: "Expert";
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.native {
    width: 100%;
    background-color: rgba(39, 174, 96, 1);
}

.native::after {
    content: "Native";
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* EDUCATION & INTERESTS */
.education-list,
.interests-list {
    margin: 1.5% 0 0 1%;
    padding: 1%;
    font-size: clamp(12.5px, 1.5vw, 1.5vw);
}