/* Seasonality Prediction Stylesheet File */

.plot-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

#result-section-forecast,
#result-section-plots,
#result-section-error {
    align-items: center;
}

#result-section-forecast {
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(15px, 1.5vw, 1.5vw);

    tr {
        text-align: center;
    }

    th {
        border-bottom: clamp(2px, 0.1vw, 0.1vw) solid white;
    }

    tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.2);
    }

    tr:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}