/* Project Stylesheet File */

/* MAIN */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        font-family: 'Inter', sans-serif;
        background-size: cover;
        display: flex;
        flex-direction: row;
        background: url("/static/images/background.jpg") no-repeat center center fixed;
        background-size: cover;
        min-height: 100vh;
    }
}

/* CONTENT */
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 95%;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    min-height: 15vh;

    h1 {
        font-size: 25px; /* clamp(20px. PREFERIBLE, MAXIMA) */
    }

    h3 {
        font-size: clamp(40px, 2vw, 2vw);
        margin-bottom: 0%;
        text-align: center;
    }

    .project-title {
        margin-bottom: 20px;
    }

    .project-form {
        width: 100%;

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="file"],
        input[type="number"] {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        input[type="submit"] {
            background-color: #3498db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #2980b9;
            }
        }
    }
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    background-color: rgba(135, 206, 235, 0.7);
    padding: 30px 0;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    a {
        font-size: 1.25vw;
        text-decoration: none;
        font-size: clamp(35px, 2vw, 2vw);

        &.dropdown-toggle {
            cursor: pointer;
            position: relative;
        }

        &:hover {
            background-color: #135c7d;
            color: #fff;
        }
    }

    .navbar-title {
        color: #135c7d;
        text-align: center;
        margin-top: 0;
        font-size: 35px; /* clamp(35px. PREFERIBLE, MAXIMA) */
    }

    .navbar-list {
        background-color: transparent;
        padding: 0;
        margin: 0;
        flex: 1;

        a {
            color: #fff;
            text-decoration: none;
            text-align: left;
            padding: 10px;
            display: block;
            margin-top: 5%;

        }

        .dropdown {

            .dropdown-toggle {
                font-size: 30px; /* clamp(30px. PREFERIBLE, MAXIMA) */
            }

            .dropdown-menu {
                display: none;
                padding: 10px;

                li a {
                    padding-left: 10%;
                    font-size: 15px; /* clamp(15px. PREFERIBLE, MAXIMA) */
                }
            }

            &.open .dropdown-menu {
                display: block;
            }
        }
    }
}

/* FOOTER */
.links {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 1%;
    
    .image-footer {
        img {
            border-radius: 50%;
            margin: 0;
            height: 35px; /* clamp(50px, 5vw, 100px); */
            width: 35px; /* clamp(50px, 5vw, 100px); */
        }
    }
}

/* RESPONSIVE */
/* width intervals: 480, 481 - 767, 768 - 1024, 1025 - 1280, 1281 */
@media (min-width: 1600px) {
    .main-project-container {
        margin-right: 5%;
    }
}

/* 📱 Teléfonos pequeños (hasta 480px) */
@media (max-width: 480px) and (max-height: 800px) {
    /* TODO: estilos para teléfonos pequeños */
    .project-container .back-content p {
        font-size: 15px;
    }

    .project-container .back-content p.selected {
        font-size: 20px;
    }    

    .project-container h3 {
        font-size: 20px;
    }

    #dynamic-text-explanation,
    #dynamic-text-utility,
    #dynamic-text-howto,
    #dynamic-text-output {
        font-size: 15px;
    }   

    .links {
        margin-right: 8%;
    }

    .links img {
        padding: 10%;
    }
  }
  
  /* 📱 Teléfonos medianos (481px a 767px) */
  @media (min-width: 481px) and (max-width: 767px) and (max-height: 900px) {
    /* TODO: estilos para teléfonos medianos */
  }
  
  /* 📱 Tablets (768px a 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) and (min-height: 800px) and (max-height: 1024px) {
    /* TODO: estilos para tablets */
  }
  
  /* 💻 Laptops pequeños (1025px a 1280px) */
  @media (min-width: 1025px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 1024px) {
    /* TODO: estilos para laptops pequeños */
  }
  
  /* 🖥️ Escritorio grande (1281px o más) */
  @media (min-width: 1281px) and (min-height: 800px) {
    /* TODO: estilos para pantallas grandes */
  }
  
  /* 📲 Orientación vertical (opcional) */
  @media (orientation: portrait) {
    /* TODO: estilos para modo retrato */
  }
  
  /* 💻 Orientación horizontal (opcional) */
  @media (orientation: landscape) {
    /* TODO: estilos para modo paisaje */
  }
  