/* Utils Project Stylesheet File */

/* MAIN */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

*:not(script):not(style):not(input):not(textarea):not(select):not(option) {
  transition:
    background-color 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    fill 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
        background-size: cover;
        display: flex;
        flex-direction: row;
        background: url("/static/images/background.jpg") no-repeat center center fixed;
        background-size: cover;
        min-height: 100vh;
    }
}

/* CONTENT */
.main-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
    margin-left: 25%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 1%;
    width: 95%;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    min-height: 15vh;

    h1 {
        font-size: clamp(30px, 3vw, 3vw);
        align-self: center !important;
    }

    h2 {
        font-size: clamp(25px, 2.5vw, 2.5vw);
    }

    h3 {
        font-size: clamp(20px, 2vw, 2vw);
        margin-bottom: 0%;
        text-align: center;
    }
}

/* NAVIGATION BAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 0;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    a {
        font-size: 1.25vw;
        text-decoration: none;

        &.dropdown-toggle {
            cursor: pointer;
            position: relative;
        }

        &:hover {
            background-color: #135c7d;
            color: #fff;
        }
    }

    .burger-menu {
        display: none;
        font-size: 2rem;
        background: none;
        border: none;
        color: #135c7d;
        padding: 10px;
        cursor: pointer;
        align-self: flex-end;
        margin-right: 10px;
    }

    .navbar-title {
        color: white;
        text-align: center;
        margin: 0;
        padding: 2.5% 0;
        font-size: clamp(20px, 2vw, 2vw);

        &:hover {
            color: #fff;
            background-color: 135c7d;
        }
    }

    .navbar-list {
        background-color: transparent;
        padding: 0;
        margin: 0;
        flex: 1;

        a {
            color: #fff;
            text-decoration: none;
            text-align: left;
            padding: 5% 0 5% 2.5%;
            display: block;
            margin-top: 1%;

        }

        .dropdown {

            .dropdown-toggle {
                font-size: clamp(15px, 1.5vw, 1.5vw);
            }

            .dropdown-menu {
                display: none;
                padding: 10px;

                li a {
                    padding-left: 10%;
                    font-size: clamp(12.5px, 1.25vw, 1.25vw);

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            &.open .dropdown-menu {
                display: block;
            }
        }
    }
}

/* FOOTER */
.links {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-right: clamp(0%, 2.5%, 5%);

    .image-footer {
        img {
            border-radius: 50%;
            padding: 0% 10% 0% 0%;
            height: clamp(22.5px, 2.5vw, 2.5vw);
            width: clamp(22.5px, 2.5vw, 2.5vw);

            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

/* HAVE FUN SECTION */
#intro-paragraph {
    text-align: left;
    width: 100%;
    padding: 1%;
    margin: 0;
    font-size: clamp(15px, 1.5vw, 1.5vw);
}

.upload-form {
    width: 100%;
    font-size: clamp(15px, 1.5vw, 1.5vw);
    margin: 0;

    .project-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5% 0 0 0;
        width: 100%;
        color: white;

        .form-group,
        .button-row {
            width: 90%;
            padding: 2.5% 0;
        }

        .form-group {
            display: inline-block;
        }

        .button-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5%;
            margin-top: 5%;
        }

        input {
            color: #000;
            width: 100%;
            height: 3.5vh;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5rem;
            text-align: center;
            background-color: #f9f9f9;
            font-size: clamp(15px, 1.5vw, 1.5vw);
            transition: border-color 0.3s ease, background-color 0.3s ease;

            &:hover {
                border-color: black;
                background-color: #3498db;
                color: white;
            }
        }

        input[type="file"] {
            cursor: pointer;
            font-size: clamp(7.5px, 1.5vw, 1.5vw);
            height: 100%;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            transform: scale(1.5);
        }

        button {
            padding: 2.5% 5%;
            font-size: 100%;
            width: auto;
            cursor: pointer;
            border: none;
            border-radius: 10rem;
            color: white;
            background-color: #3498db;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: white;
                color: #3498db;
                transform: scale(1.25);
                border: #3498db solid;
            }
        }

        select {
            cursor: pointer;
            width: 100%;
            height: 100%;
            padding: .01%;
            border: 2px solid #ccc;
            border-radius: .1rem;
            background-color: #f9f9f9;
            color: #000;
            font-size: clamp(15px, 1.75vw, 1.75vw);
            appearance: none;
            transition: border-color 0.3s ease, background-color 0.3s ease;
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 16px 16px;

            &:hover {
                background-color: #a2daff;
                color: black;
            }
        }
    }
}

/* RESULTS */
#result-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
        font-size: clamp(20px, 2vw, 2vw);
        margin: 2.5% auto;
    }

    p {
        font-size: clamp(15px, 1.5vw, 1.5vw);
    }

    #keyphrases-table {
        width: 90%;
    }

    #seasonality-table {
        width: 25%;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        font-size: clamp(15px, 1.5vw, 1.5vw);

        tr {
            text-align: center;
        }

        #keyword {
            text-align: left;
        }

        th {
            border-bottom: clamp(2px, 0.1vw, 0.1vw) solid white;
        }

        tr:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.2);
        }

        tr:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

}