/* BODY */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url('ruta/a/tu/imagen.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* NAVIGATION BAR */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    background-color: rgba(135, 206, 235, 0.7); /* Celeste transparente */
    overflow-y: auto;
    padding: 30px 0;
}

.navbar-title-link {
    text-decoration: none;
}

.navbar .navbar-title {
    color: #135c7d; /* Celeste */
    text-align: center;
    margin-top: 0;
}

.navbar .navbar-list {
    background-color: transparent; /* Fondo transparente */
    padding: 0;
    margin: 0;
}

.navbar .navbar-list a {
    color: #fff; /* Letras en blanco */
    text-decoration: none;
    text-align: left;
    padding: 10px;
    display: block;
}

.navbar .navbar-list a:hover {
    background-color: #135c7d; /* Celeste */
    color: #fff; /* Letras en blanco */
}

.navbar .navbar-list a.dropdown-toggle {
    cursor: pointer; /* Cambia el cursor a pointer */
    position: relative; /* Necesario para el enfoque */
}

.navbar .navbar-list .dropdown .dropdown-menu {
    display: none;
    padding: 10px;
}

.navbar .navbar-list .dropdown.open .dropdown-menu {
    display: block;
}

.navbar .navbar-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.navbar .navbar-footer .image-footer img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
}

.navbar .navbar-footer .image-footer img:hover {
    border: 0.05px outset hsl(202, 81%, 55%);
    background: hsl(202, 81%, 55%);
}

/* MAIN CONTENT */

.main-content {
    margin-left: 15%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Añadir sombra al texto */
}

.main-content h1, p {
    text-align: center;
    margin: 10px 0;
}

/* Mi CV */

.mi-cv {
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 60%;
    color: white;
}

.mi-cv p {
    text-align: left;
    margin: 0;
    color: white;
}

.mi-cv h1 {
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    font-size: 24px;
}

.mi-cv .section-title {
    font-size: 20px;
    color: #ecf0f1;
    margin-top: 40px;
    margin-bottom: 20px;
}

.mi-cv h3 {
    margin: 25px 0;
    font-size: 18px;
    color: #3498db;
}

.mi-cv h4 {
    margin: 10px 0;
    font-size: 16px;
    color: #95a5a6;
}

.mi-cv ul {
    margin: 10px 0;
    padding-left: 20px;
}

.mi-cv li {
    margin: 5px 0;
    color: white;
}

/* Skill bars */

.skill {
    margin-bottom: 20px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 30px;
    border-radius: 5px;
    transition: width 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.basic {
    width: 25%;
    background-color: #e74c3c;
}

.intermediate {
    width: 50%;
    background-color: #f39c12;
}

.advanced {
    width: 75%;
    background-color: #3498db;
}

.expert {
    width: 100%;
    background-color: #2ecc71;
}

/* KEYPHRASE EXTRACTION */

.keyphrase-extraction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 60%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.keyphrase-extraction-title {
    margin-bottom: 20px;
}

.keyphrase-extraction-form {
    width: 100%;
}

.keyphrase-extraction-form label {
    display: block;
    margin-bottom: 10px;
}

.keyphrase-extraction-form input[type="file"],
.keyphrase-extraction-form input[type="number"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.keyphrase-extraction-form input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.keyphrase-extraction-form input[type="submit"]:hover {
    background-color: #2980b9;
}

.results-container {
    margin-top: 20px;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.results-table th,
.results-table td {
    border: 1px solid #fff;
    padding: 8px;
}

.results-table th {
    background-color: #3498db;
}

.results-table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.results-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* SEASONALITY PREDICTION */

.file-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 60%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.file-upload-form .form-group {
    width: 100%;
    margin-bottom: 20px;
}

.file-upload-form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.file-upload-form input[type="file"],
.file-upload-form input[type="number"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.file-upload-form .btn-primary {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prediction-table {
    text-align: center;
    padding: 10px;
}

.plot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot-container img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.keyphrase-extraction-container .seasonality-prediction-error-h3,
.keyphrase-extraction-container .seasonality-prediction-error-ul,
.keyphrase-extraction-container .seasonality-prediction-error-p {
    text-align: left;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}

.keyphrase-extraction-container .seasonality-prediction-error-ul {
    list-style-position: inside;
}

/* WORLD BANK */

/* Estilo del contenedor del menú desplegable */
.dropdown-world-bank-topics {
    position: relative;
    display: inline-block;
    margin: 20px 0;
}

/* Estilo del botón del menú desplegable */
.dropbtn-world-bank-topics {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 500px; /* Más ancho */
    text-align: left; /* Alinear texto a la izquierda */
}

/* Estilo del contenido del menú desplegable (oculto por defecto) */
.dropdown-content-world-bank-topics {
    display: none;
    position: absolute;
    background-color: #fff; /* Fondo blanco */
    min-width: 500px; /* Coincide con el ancho del botón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 5px 0;
}

/* Estilo de los enlaces del menú desplegable */
.dropdown-content-world-bank-topics a {
    color: black; /* Texto negro */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

/* Cambiar el color de los enlaces al pasar el mouse */
.dropdown-content-world-bank-topics a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo más claro al pasar el mouse */
}

/* Mostrar el menú desplegable al pasar el mouse sobre el contenedor */
.dropdown-world-bank-topics:hover .dropdown-content-world-bank-topics {
    display: block;
}

/* Cambiar el color del botón del menú desplegable al pasar el mouse */
.dropdown-world-bank-topics:hover .dropbtn-world-bank-topics {
    background-color: white;
}

.results-container-world-bank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 60%;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.results-container-world-bank h3 {
    margin-bottom: 20px;
}

.results-container-world-bank .results-table-world-bank-topics {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.results-container-world-bank .results-table-world-bank-topics th,
.results-container-world-bank .results-table-world-bank-topics td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
}

.results-container-world-bank .results-table-world-bank-topics th {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.results-container-world-bank .results-table-world-bank-topics td {
    background: rgba(255, 255, 255, 0.1);
}

.results-container-world-bank .results-table-world-bank-topics tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

.results-container-world-bank .results-table-world-bank-topics tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.results-container-world-bank .results-table-world-bank-topics tbody tr:hover td {
    color: #000;
}

.results-container-world-bank .results-table-world-bank-topics th,
.results-container-world-bank .results-table-world-bank-topics td {
    font-family: 'Open Sans', sans-serif;
}
