<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon_ac.png') }}">
    <title data-translate-key="header_title">{{ texts['header_title'] }}</title>
</head>

<body>
    <!-- LANGUAGE -->
    <div class="language-selector">
        <select id="select-language">
            {% for l in available_langs %}
            <option value="{{ l }}" {% if l==selected_lang %}selected{% endif %}>{{ l.title() }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- NAVIGATION BAR -->
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="navbar-title-link" title="Home Page">
            <h2 class="navbar-title" data-translate-key="home">{{ texts['home'] }}</h2>
        </a>

        <ul class="navbar-list">
            <li class="dropdown">
                <a class="dropdown-toggle" tabindex="0" role="button" aria-expanded="false" aria-controls="cv-menu"
                    href="{{ url_for('mi_cv') }}" title="Read My CV" data-translate-key="mi_cv">{{ texts['mi_cv'] }}</a>
                <ul class="dropdown-menu" id="cv-menu">
                    <li><a href="{{ url_for('mi_cv') }}#work-experience" data-translate-key="work_exp">{{
                            texts['work_exp'] }}</a>
                    </li>
                    <li><a href="{{ url_for('mi_cv') }}#technologies" data-translate-key="tech">{{ texts['tech'] }}</a>
                    </li>
                    <li><a href="{{ url_for('mi_cv') }}#education" data-translate-key="edu">{{ texts['edu'] }}</a></li>
                    <li><a href="{{ url_for('mi_cv') }}#languages" data-translate-key="lang">{{ texts['lang'] }}</a>
                    </li>
                    <li><a href="{{ url_for('mi_cv') }}#interests" data-translate-key="int">{{ texts['int'] }}</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" tabindex="0" role="button" aria-expanded="false"
                    aria-controls="projects-menu" title="Choose a project" data-translate-key="have_fun">{{
                    texts['have_fun'] }}</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('keyphrase_extraction') }}" data-translate-key="keyphrase">{{
                            texts['keyphrase'] }}</a>
                    </li>
                    <li><a href="{{ url_for('seasonality_prediction') }}" data-translate-key="seasonality">{{
                            texts['seasonality'] }}</a>
                    </li>
                    <li><a href="{{ url_for('whatsapp') }}" data-translate-key="whatsapp">{{ texts['whatsapp'] }}</a>
                    </li>
                    <li><a href="{{ url_for('world_bank') }}" data-translate-key="world_bank">{{ texts['world_bank']
                            }}</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" tabindex="0" role="button" aria-expanded="false"
                    aria-controls="projects-menu" title="Choose a project" data-translate-key="read">{{ texts['read']
                    }}</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('algorithmic_trading') }}" target="_blank" title="Description"
                            data-translate-key="algo_trad">{{ texts['algo_trad'] }}</a></li>
                    <li><a href="{{ url_for('linear_algebra') }}" target="_blank" title="Description"
                            data-translate-key="lin_alg">{{ texts['lin_alg'] }}</a>
                    </li>
            </li>
            <li><a href="{{ url_for('arg_macro') }}" target="_blank" title="Description" data-translate-key="macro">{{
                    texts['macro'] }}</a>
            </li>
            <li><a href="{{ url_for('ds_trends') }}" target="_blank" title="Description"
                    data-translate-key="ds_trends">{{texts['ds_trends'] }}</a></li>
            <li><a href="{{ url_for('vector_norms') }}" target="_blank" title="Description"
                    data-translate-key="vector_norms">{{texts['vector_norms'] }}</a>
            </li>
        </ul>
        </li>
        </ul>
    </nav>

    {% block content %}{% endblock %}

    <!-- FOOTER -->
    <footer>
        <div class="links">
            <a class="image-footer" id="gh-image" href="https://github.com/ale-camer/personal_website" target="_blank"
                title="Project Code"><img src="{{ url_for('static', filename='images/gh.png') }}" alt="GitHub"></a>
            <a class="image-footer" id="li-image" href="https://www.linkedin.com/in/alejandro-camerlengo-1ab3981b/"
                target="_blank" , title="Personal Profile"><img src="{{ url_for('static', filename='images/li.png') }}"
                    alt="LinkedIn"></a>
            <a class="image-footer" id="gm-image" href="mailto:alejandrocamerlengo@gmail.com" target="_blank"
                title="Send me an email"><img src="{{ url_for('static', filename='images/email.png') }}"
                    alt="Email"></a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/language_selection.js') }}"></script>
</body>

</html>