<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- CSS para Bootstrap-Select -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">

    <!-- Tu CSS Personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon_ac.png') }}">
    <title data-translate-key="header_title">{{ texts['header_title'] }}</title>

</head>

<body>
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container-fluid">

            <!-- HOME (con me-auto para empujar el resto a la derecha) -->
            <a class="navbar-brand me-auto" href="{{ url_for('static_pages.index') }}" title="Home Page">
                <span data-translate-key="home">{{ texts['home'] }}</span>
            </a>

            <!-- LANGUAGE SELECTOR -->
            <div class="language-selector mt-2 mt-sm-0 ms-2">
                <select id="select-language" class="selectpicker" data-live-search="true" data-width="fit">
                    {% for lang_code, lang_data in language_options.items() %}
                    <option value="{{ lang_code }}"
                        data-content='<img src="{{ url_for("static", filename="images/flags/" + lang_data.flag) }}" class="flag-icon me-2" alt="">{{ lang_data.name }}'
                        data-tokens="{{ lang_data.tokens }}" {% if lang_code==selected_lang %}selected{% endif %}>
                        {{ lang_data.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <!-- TOGGLER -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenido Colapsable de la Navbar -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <!-- Links (con ms-auto para que se alineen a la derecha dentro del menú colapsado) -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('static_pages.mi_cv') }}" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" title="Read My CV"
                            data-translate-key="mi_cv">
                            {{ texts['mi_cv'] }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.mi_cv') }}#work-experience"
                                    data-translate-key="work_exp">{{ texts['work_exp'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.mi_cv') }}#technologies"
                                    data-translate-key="tech">{{ texts['tech'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.mi_cv') }}#education"
                                    data-translate-key="edu">{{ texts['edu'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.mi_cv') }}#languages"
                                    data-translate-key="lang">{{ texts['lang'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.mi_cv') }}#interests"
                                    data-translate-key="int">{{ texts['int'] }}</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" title="Choose a project" data-translate-key="have_fun">
                            {{ texts['have_fun'] }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.keyphrase_extraction') }}"
                                    data-translate-key="keyphrase">{{ texts['keyphrase'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.seasonality_prediction') }}"
                                    data-translate-key="seasonality">{{ texts['seasonality'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.whatsapp') }}"
                                    data-translate-key="whatsapp">{{ texts['whatsapp'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.world_bank') }}"
                                    data-translate-key="world_bank">{{ texts['world_bank'] }}</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" title="Choose a project" data-translate-key="read">
                            {{ texts['read'] }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.algorithmic_trading') }}"
                                    target="_blank" title="Description" data-translate-key="algo_trad">{{
                                    texts['algo_trad'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.linear_algebra') }}"
                                    target="_blank" title="Description" data-translate-key="lin_alg">{{ texts['lin_alg']
                                    }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.arg_macro') }}" target="_blank"
                                    title="Description" data-translate-key="macro">{{ texts['macro'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.ds_trends') }}" target="_blank"
                                    title="Description" data-translate-key="ds_trends">{{texts['ds_trends'] }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('static_pages.vector_norms') }}"
                                    target="_blank" title="Description"
                                    data-translate-key="vector_norms">{{texts['vector_norms'] }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <!-- FOOTER -->
    <footer>
        <div class="links">
            <a class="image-footer" id="gh-image" href="https://github.com/ale-camer/personal_website" target="_blank"
                title="Project Code"><img src="{{ url_for('static', filename='images/gh.png') }}" alt="GitHub"></a>
            <a class="image-footer" id="li-image" href="https://www.linkedin.com/in/alejandro-camerlengo-1ab3981b/"
                target="_blank" , title="Personal Profile"><img src="{{ url_for('static', filename='images/li.png') }}"
                    alt="LinkedIn"></a>
            <a class="image-footer" id="gm-image" href="mailto:alejandrocamerlengo@gmail.com" target="_blank"
                title="Send me an email"><img src="{{ url_for('static', filename='images/email.png') }}"
                    alt="Email"></a>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- jQuery (requerido por Bootstrap-Select) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- JS para Bootstrap-Select -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

    <!-- Tus scripts personalizados -->
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/language_selection.js') }}"></script>

    <!-- Script para inicializar el selector -->
    <script>
        $(document).ready(function () {
            // Inicializa el selector de idioma para que se transforme
            $('#select-language').selectpicker();
        });
    </script>
</body>

</html>