{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/keyphrase.css') }}">
<script src="{{ url_for('static', filename='js/keyphrase.js') }}"></script>

<div class="main-project-container">
    <div class="project-container" id="first-container">
        <h1 data-translate-key="keyphrase_title">{{ texts['keyphrase_title'] }}</h1>

        {% if error %}
        <div class="error-message"
            style="color: red; background-color: #ffe0e0; border: 1px solid red; padding: 10px; margin-bottom: 15px; border-radius: 5px;">
            {{ error }}
        </div>
        {% endif %}

        <div>
            <p id="intro-paragraph" data-translate-key="intro">{{ texts['keyphrase_title'] }}</p>
        </div>
        <div class="upload-form">
            <form class="project-form" action="/extract_keyphrases" method="post" enctype="multipart/form-data"
                id="inputForm">

                <div class="form-group">
                    <label for="file" data-translate-key="intruction">{{ texts['instruction'] }}</label><br>
                    <input type="file" id="file" name="file" accept=".txt">
                    <span id="fileError" style="color: red;"></span>
                </div>

                <div class="form-group">
                    <label for="num_tables" data-translate-key="ngrams">{{ texts['ngrams'] }}</label>
                    <input type="number" id="num_tables" name="num_tables" min="1" max="10" value="5" required
                        title="Choose number of words associated">
                </div>

                <div class="form-group">
                    <label for="num_rows" data-translate-key="rgrams">{{ texts['rgrams'] }}</label>
                    <input type="number" id="num_rows" name="num_rows" min="1" max="10" value="5" required
                        title="Choose number of rows per N-gram">
                </div>

                <div class="button-row">
                    <button type="submit" id="submitBtn" data-translate-key="button_1">{{ texts['button_1'] }}</button>
                </div>
            </form>
        </div>
    </div>

    <div class="project-container" id="loading-section" style="display: none;">
        <p id="progress-text" data-translate-key="prog">{{ texts['prog'] }}</p>
        <div id="progress-container">
            <div id="progress-bar"></div>
            <div id="progress-percentage" data-translate-key="perc">{{ texts['perc'] }}</div>
        </div>
    </div>

    {% if results %}
    <div class="project-container" id="result-section">
        <div>
            {% for ngram_value, data in results.items() %}
            <div>
                <h2>{{ ngram_value }}</h2>
                <table id="keyphrases-table">
                    <thead>
                        <tr>
                            <th data-translate-key="keywords">{{ texts['keywords'] }}</th>
                            <th data-translate-key="napp">{{ texts['napp'] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td id="keyword">{{ row[0] }}</td>
                            <td id="n-appearances">{{ row[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>

        <div class="project-container" id="download-form-section" style="padding-top: 0;">
            <form action="/download_keyphrases" method="get" target="_blank">
                <h3>Descargar Resultados</h3>
                <div class="download-options">
                    <label>
                        <input type="radio" name="format" value="txt" checked> TXT
                    </label>
                    <label>
                        <input type="radio" name="format" value="md"> Markdown
                    </label>
                    <label>
                        <input type="radio" name="format" value="pdf"> PDF
                    </label>
                </div>
                <button type="submit" id="downloadBtn" data-translate-key="button_2">{{ texts['button_2'] }}</button>
            </form>
        </div>

        {% else %}
        <div></div>
    </div>
    {% endif %}
</div>

{% endblock %}