{% extends 'base.html' %}

{% block content %}

<!-- Keyphrase Extraction Functionality Template -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/keyphrases.css') }}">

<div class="main-project-container">
    <div class="project-container">
        <h1>Keyphrase Extraction</h1>
        <div>
            <p id="intro-paragraph">
                Upload the text you want the keyphrases from.
            </p>
        </div>
        <div class="upload-form">
            <form class="project-form" action="/keyphrase_extraction_process" method="post"
                enctype="multipart/form-data" id="inputForm">

                <div class="form-group"> 
                    <label for="file">Upload your text file (only .txt files allowed):</label><br>
                    <input type="file" id="file" name="file" accept=".txt">
                    <span id="fileError" style="color: red;"></span>
                </div>

                <div class="form-group">
                    <label for="num_tables">Number of N-grams:</label>
                    <input type="number" id="num_tables" name="num_tables" min="1" max="10" value="5" required title="Choose number of words associated">
                </div>

                <div class="form-group">
                    <label for="num_rows">Results per N-gram:</label>
                    <input type="number" id="num_rows" name="num_rows" min="1" max="10" value="5" required title="Choose number of rows per N-gram">
                </div>

                <div class="button-row">
                    <button type="submit">Extract <br>Keyphrases</button>
                    <button type="button" id="downloadBtn">Download <br>Keyphrases</button>
                </div>
            </form>
        </div>
    </div>

    {% if results %}
    <div class="project-container" id="result-section">
        <div>
            {% for ngram_value, data in results.items() %}
            <div>
                <h2>{{ ngram_value }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Keywords</th>
                            <th># Appearances</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data.values %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td style="text-align: center;">{{ row[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div></div>
    </div>
    {% endif %}
</div>

<!-- JavaScript File for Enhancing UI -->
<script>
    const form = document.getElementById('inputForm');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        const fileInput = document.getElementById('file');
        const fileError = document.getElementById('fileError');

        fileError.textContent = '';
        let isValid = true;

        if (!fileInput.files.length) {
            fileError.textContent = 'Please select a file.';
            isValid = false;
        }

        if (isValid) {
            this.submit();
        }
    });

    const downloadBtn = document.getElementById('downloadBtn');
    downloadBtn.addEventListener('click', function () {
        const fileInput = document.getElementById('file');
        const fileError = document.getElementById('fileError');

        fileError.textContent = '';

        if (!fileInput.files.length) {
            fileError.textContent = 'Please select a file.';
        } else {
            window.location.href = "{{ url_for('download_keyphrases') }}";
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        const resultSection = document.getElementById("result-section");
        if (resultSection) {
            resultSection.scrollIntoView({ behavior: "smooth" });
        }
    });
</script>

{% endblock %}