{% extends 'base.html' %}

{% block content %}

<div class="mi-cv">

    <!-- Work Experience Section -->
    <h1 id="work-experience" class="section-title">Work Experience in Data</h1>

    <!-- Job 1: Data Scientist at ABinBev -->
    <div class="job">
        <h3>Data Scientist in ABinBev | 08-2023 - Present (<span id="months-counter">{{ delta_time_string }}</span>)</h3>
        <h4>Industry</h4>
        <ul>
            <li>Brewery</li>
        </ul>
        <h4>Region</h4>
        <ul>
            <li>Global</li>
        </ul>
        <h4>Sectors</h4>
        <ul>
            <li>Fraud</li>
            <li>Pricing</li>
        </ul>
        <h4>Responsibilities</h4>
        <ul>
            <li>Data Science Projects with Structured Data</li>
            <li>Statistical Analysis</li>
            <li>End-to-End Processes</li>
            <li>Advanced Reporting</li>
            <li>Advanced Visualizations</li>
            <li>ETLs</li>
        </ul>
        <h4>Skills and Technologies</h4>
        <ul>
            <li>Programming: Python, Spark, SQL and DAX</li>
            <li>Data Visualization: Databricks and Power BI</li>
            <li>Cloud: Microsoft Azure</li>
            <li>Tools: Snowflake, Databricks and GitHub</li>
        </ul>
    </div>

    <!-- Job 2: Data Scientist at Lumen Technologies -->
    <div class="job">
        <h3>Data Scientist in Lumen Technologies | 11-2021 - 07-2023 (1 year 9 months)</h3>
        <h4>Industry</h4>
        <ul>
            <li>Telecommunications</li>
        </ul>
        <h4>Region</h4>
        <ul>
            <li>Latin America</li>
        </ul>
        <h4>Sectors</h4>
        <ul>
            <li>Finance</li>
        </ul>
        <h4>Responsibilities</h4>
        <ul>
            <li>Data Science Projects with Structured Data</li>
            <li>Data Analysis</li>
            <li>End-to-End Processes</li>
            <li>Reports Automation</li>
            <li>Visualizations (Dashboards)</li>
            <li>ETLs</li>
        </ul>
        <h4>Skills and Technologies</h4>
        <ul>
            <li>Programming: Python, SQL and DAX</li>
            <li>Data Visualization: Power BI</li>
            <li>Tools: SSMS</li>
        </ul>
    </div>

    <!-- Job 3: Quantitative Analyst at Balanz Capital -->
    <div class="job">
        <h3>Quantitative Analyst in Balanz Capital | 02-2021 - 10-2021 (9 months)</h3>
        <h4>Industry</h4>
        <ul>
            <li>Capital Markets</li>
        </ul>
        <h4>Region</h4>
        <ul>
            <li>Argentina</li>
        </ul>
        <h4>Sectors</h4>
        <ul>
            <li>Algorithmic Trading</li>
        </ul>
        <h4>Responsibilities</h4>
        <ul>
            <li>Data Science Projects with Time Series Data</li>
            <li>Trading Strategies</li>
            <li>Data Analysis</li>
            <li>Visualizations (Volatility Surface and Volatility Smile)</li>
        </ul>
        <h4>Skills and Technologies</h4>
        <ul>
            <li>Programming: Python and SQL</li>
            <li>Tools: PostgreSQL</li>
        </ul>
    </div>

    <!-- Education Section -->
    <h1 id="education" class="section-title">Education</h1>
    <ul>
        <li>2022 - 2022 | Executive Program in Quantitative Finance | Center for Macroeconomics Studies University
            (UCEMA) | Completed</li>
        <li>2020 - 2021 | Master Degree in Data Science | University of Buenos Aires (UBA) | Thesis Pending</li>
        <li>2017 - 2019 | Master Degree in Finance oriented to Corporate Finance | University of Buenos Aires (UBA) |
            Thesis Pending</li>
        <li>2011 - 2017 | Bachelor Degree in Business Administration | National University of Lomas de Zamora (UNLZ) |
            Completed</li>
    </ul>

    <!-- Technologies Section -->
    <h1 id="technologies" class="section-title">Technologies</h1>

    <div class="skill">
        <div class="skill-name">Python</div>
        <div class="progress-bar-container">
            <div class="progress-bar advanced">Advanced</div>
        </div>
    </div>

    <div class="skill">
        <div class="skill-name">SQL</div>
        <div class="progress-bar-container">
            <div class="progress-bar intermediate">Intermediate</div>
        </div>
    </div>

    <div class="skill">
        <div class="skill-name">Spark</div>
        <div class="progress-bar-container">
            <div class="progress-bar basic">Basic</div>
        </div>
    </div>

    <div class="skill">
        <div class="skill-name">R</div>
        <div class="progress-bar-container">
            <div class="progress-bar basic">Basic</div>
        </div>
    </div>

    <div class="skill">
        <div class="skill-name">HTML</div>
        <div class="progress-bar-container">
            <div class="progress-bar basic">Basic</div>
        </div>
    </div>

    <div class="skill">
        <div class="skill-name">CSS</div>
        <div class="progress-bar-container">
            <div class="progress-bar basic">Basic</div>
        </div>
    </div>

    <div class="skill">
        <div class="skill-name">DAX</div>
        <div class="progress-bar-container">
            <div class="progress-bar basic">Basic</div>
        </div>
    </div>

    <!-- Languages Section -->
    <h1 id="languages" class="section-title">Languages</h1>

    <div class="skill">
        <div class="skill-name">Spanish</div>
        <div class="progress-bar-container">
            <div class="progress-bar expert">Native/Bilingual</div>
        </div>
    </div>

    <div class="skill">
        <div class="skill-name">English</div>
        <div class="progress-bar-container">
            <div class="progress-bar advanced">Advanced</div>
        </div>
    </div>

    <h1 id="interests" class="section-title">Interests</h1>
    <div class="skill">
        <ul>
            <li>Web Development</li>
            <li>Backend Programming</li>
            <li>Data Analytics</li>
            <li>Data Science</li>
            <li>Languages</li>
        </ul>
    </div>


</div>

{% endblock %}