{% extends 'base.html' %}

{% block content %}

<script src="{{ url_for('static', filename='js/whatsapp.js') }}"></script>

<div class="main-project-container">
    <div class="project-container">
        <h1 data-translate-key="whatsapp_title">{{ texts['whatsapp_title'] }}</h1>

        {% if error or execution_exception %}
        <div class="alert alert-danger" role="alert">
            {{ error or execution_exception }}
        </div>
        {% endif %}

        <div class="upload-form">
            <form class="project-form text-center" action="/whatsapp_dashboard" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="file" class="form-label" data-translate-key="first_step">{{ texts['first_step'] }}</label>
                    <input type="file" class="form-control" id="file" name="file" accept=".txt">
                    <span id="fileError" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="language" class="form-label" data-translate-key="second_step">{{ texts['second_step'] }}</label>
                    <select class="form-select" id="language" name="language" title="Select the language in which the conversation was held"></select>
                </div>

                <input type="hidden" id="selected_language" name="selected_language">

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary" data-translate-key="button">{{ texts['button'] }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}