{% extends 'base.html' %}

{% block content %}

<div class="keyphrase-extraction-container">
    <!-- Title and Introduction Section -->
    <h1 class="keyphrase-extraction-title">WhatsApp</h1>

    <div class="introduction">
        <h2>Introduction</h2>
        <p>Analyzing WhatsApp conversations can reveal important communication patterns and sentiments. A specialized
            tool simplifies this process, starting with exporting the chat from WhatsApp by clicking on the three dots
            in the conversation, selecting "More," and then "Export Chat." Once downloaded, the chat file can be
            uploaded to the tool for analysis.</p>
    </div>

    <!-- Functionality Section -->
    <div class="functionality">
        <h2>Functionality</h2>
        <p>The tool analyzes both individual and group chats, generating graphs that show conversation frequency by
            hour, day, week, and month. It also displays participant activity, most mentioned words, and sentiment.
            Users upload the chat file, select the language, and click "Analyze Chat." The tool provides an overview of
            chat dynamics and a sentiment analysis graph that shows the average polarity, indicating the overall
            emotional tone of the conversation.</p>
    </div>
</div>

<div class="keyphrase-extraction-container">
    <!-- Upload Form Section -->
    <div class="upload-form">
        <form class="keyphrase-extraction-form" action="/whatsapp" method="post" enctype="multipart/form-data">
            <label for="file">Upload WhatsApp chat (only .txt files allowed):</label><br>
            <input type="file" id="file" name="file" accept=".txt" required><br><br>

            <!-- Container for the text "Select Language" -->
            <div class="language-container">
                <label for="language">Select Language:</label>
            </div>

            <!-- Language dropdown menu -->
            <div class="select-language-container">
                <label for="language">Select Language:</label>
                <select id="language" name="language"></select>
            </div>
            <input type="hidden" id="selected_language" name="selected_language">
            <br><br>
            <button type="submit" class="show-results">Analyze Chat</button>
        </form>
    </div>
</div>

<style>
    .language-container {
        display: inline-block;
        width: 140px;
        text-align: right;
        margin-right: 10px;
    }

    .select-language-container {
        display: inline-block;
        width: calc(100% - 160px);
        vertical-align: center;
        position: relative;
        top: 0px;
        left: 10px;
    }

    .upload-form .show-results {
        margin-left: 25%;
        margin-top: 10px;
    }

    #file {
        margin-bottom: 0px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const languages = [
            { value: "english", text: "English" },
            { value: "mandarin", text: "Mandarin" },
            { value: "spanish", text: "Spanish" },
            { value: "french", text: "French" },
            { value: "arabic", text: "Arabic" },
            { value: "bengali", text: "Bengali" },
            { value: "portuguese", text: "Portuguese" },
            { value: "russian", text: "Russian" },
            { value: "japanese", text: "Japanese" },
            { value: "punjabi", text: "Punjabi" },
            { value: "german", text: "German" },
            { value: "javanese", text: "Javanese" },
            { value: "korean", text: "Korean" },
            { value: "vietnamese", text: "Vietnamese" },
            { value: "telugu", text: "Telugu" }
        ];

        const selectElement = document.getElementById('language');
        const hiddenInput = document.getElementById('selected_language');

        languages.forEach(function (language) {
            const option = document.createElement('option');
            option.value = language.value;
            option.textContent = language.text;
            selectElement.appendChild(option);
        });

        // Establece el valor seleccionado por defecto
        selectElement.value = "english";  // Ajusta esto según el idioma predeterminado
        hiddenInput.value = selectElement.value;

        selectElement.addEventListener('change', function () {
            hiddenInput.value = selectElement.value;
        });
    });
</script>

{% endblock %}