{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="keyphrase-extraction-container">
        <label for="indicators">Select an indicator:</label>
        <div class="dropdown-world-bank-topics">
            <button class="dropbtn-world-bank-topics" id="dropdownButton">For example, GDP per Capital.</button>
            <div class="dropdown-content-world-bank-topics" id="dropdownMenu">
                {% for key in indicators|sort %}
                <a href="#" onclick="selectIndicator('{{ key }}', '{{ indicators[key] }}')">{{ key }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="results-container-world-bank">
        <h3>Results</h3>
        <table class="results-table-world-bank-topics">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Date</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <!-- Result rows will be inserted here by JavaScript -->
            </tbody>
        </table>
        <button onclick="downloadCSV()">Download CSV</button>
    </div>    
</div>

<script>
    function selectIndicator(key, value) {
        document.getElementById('dropdownButton').innerText = key;
        fetchData(value);
    }

    function fetchData(indicatorId) {
        fetch(`/fetch_data?indicator=${indicatorId}`)
            .then(response => response.json())
            .then(data => {
                displayResults(data);
            });
    }

    function displayResults(data) {
    const resultsTableBody = document.querySelector('.results-container-world-bank .results-table-world-bank-topics tbody');
    
    // Limpiar el contenido anterior de la tabla
    resultsTableBody.innerHTML = '';

    // Iterar sobre los datos y agregar filas a la tabla
    data.forEach(row => {
        const newRow = resultsTableBody.insertRow();
        newRow.insertCell(0).innerText = row['COUNTRY'];
        newRow.insertCell(1).innerText = row['DATE'];
        newRow.insertCell(2).innerText = row['VALUE'];
    });

    // Mostrar el contenedor de resultados
    const resultsContainer = document.querySelector('.results-container-world-bank');
    resultsContainer.style.display = 'block';
    }

    function downloadCSV() {
        const indicator = document.getElementById('dropdownButton').innerText;
        window.location.href = `/download_csv?indicator=${indicator}`;
    }
</script>
{% endblock %}
