{% extends 'base.html' %}

{% block content %}

<!-- World Bank Functionality Template -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/world_bank.css') }}">

<div class="main-project-container">
    <div class="project-container">

        <h1>World Bank</h1>
        <div>
            <p id="intro-paragraph">Select the categories of the data that you want to visualize.</p>
        </div>

        <div class="wb-group">
            <label for="indicators">Select an indicator:</label>
            <div class="wb-topics">
                <button class="wb-button" id="dropdownButton">Indicator</button>
                <div class="wb-content" id="dropdownMenu">
                    {% for key in indicators %}
                    <a href="#" onclick="selectIndicator(event, '{{ key }}', '{{ indicators[key] }}')">{{ key }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="wb-group">
            <label for="type">Select type:</label>
            <div class="wb-topics">
                <button class="wb-button" id="typeButton">Data Type</button>
                <div class="wb-content" id="typeMenu">
                    <a href="#" onclick="selectTypeAndDownload(event, 'country')">Country</a>
                    <a href="#" onclick="selectTypeAndDownload(event, 'year')">Year</a>
                </div>
            </div>
        </div>

        <div class="wb-group">
            <label for="options">Select an option:</label>
            <div class="wb-topics">
                <button class="wb-button" id="optionsButton">Country/Year</button>
                <div class="wb-content" id="optionsMenu">
                </div>
            </div>
        </div>

        <div class="upload-form">
            <div class="project-form">
                <div class="button-row" id="wb-button-row">
                    <button type="submit" onclick="showResults()">Show <br>Results</button>
                    <button type="button" onclick="downloadCSV()">Download <br>CSV</button>
                    <button type="button">Interactive <br>Graph</button>
                </div>
            </div>
        </div>
        <p class="side-note">Note: it takes 3 seconds apporixmately to open the interactive graph since you clicked the
            button.</p>
    </div>

    <div class="project-container" id="wb-results">
        <h1>Results</h1>
        <table class="wb-table">
            <thead>
                <tr>
                    <th class="sortable">
                        Country
                        <span class="sort-icon">&#8597;</span>
                    </th>
                    <th class="sortable">
                        Date
                        <span class="sort-icon">&#8597;</span>
                    </th>
                    <th class="sortable"> 
                        Value
                        <span class="sort-icon">&#8597;</span>
                    </th>
                </tr>
            </thead>
            <tbody id="wb_tbody">
            </tbody>
        </table>
    </div>
</div>

<script src="{{ url_for('static', filename='js/world_bank.js') }}"></script>
{% endblock %}